
*, html, body, h1, img, p, label, input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  font-family: monospace;
  font-weight: bold;
  font-size: 65px
}

.banner-img {
  width: 100vw;
  height: 900px;
}
