
<div id="header">
  <script type="text/javascript">
    window.logo = "<%= image_url('logo.jpg') %>"
    window.cart = "<%= image_url('bag-icon.png') %>"
  </script>
</div>

<%# <div id="htmlFor">
</div> %>

<div id="banner">
</div>
