

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header-logo {
  width: 150px;
  margin-top: -10px;
}

.header-icon {
  color: black;
  font-size: 28px;
  padding-right: 10px;
}
